<section>

  <div *ngFor="let item of tab">
    <!-- <img src="/Project/src/app/people/photos/{{item.name}}.jpg" alt=""> -->
    <!-- <div  class="img"  ></div> -->
    <!-- <img src="/assets/photos/Ac Milan.jpg" alt=""> -->
    <div class="img" style="background-image: url('/assets/photos/{{item.name}}.jpg');"></div>
    <p>{{item.name}} - {{item.price}}zł</p>
    <p>ilość:<input (input)="onInputChange($event,item)" type="number">
      <button (click)="addToBasket(item)">Dodaj do koszyka</button>

    </p>
  </div>
</section>
<footer>
  Koszulki dla pasjonatów &copy; Patryk Grzela
</footer>
